<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--    扫描包-->
<mapper namespace="com.rachel.service.repository.StudentMapper">
    <resultMap id="StudentRecordMap" type="com.rachel.service.domain.StudentRecord">
        <id column="record_id" jdbcType="INTEGER" property="recordId" />
        <result column="course_id" jdbcType="INTEGER" property="courseId"/>
        <result column="student_id" jdbcType="INTEGER" property="studentId"/>
        <result column="student_name" jdbcType="VARCHAR" property="studentName" />
        <result column="record_time" jdbcType="TIMESTAMP" property="recordTime" />
        <result column="statues" jdbcType="VARCHAR" property="statues" />
        <result column="role" jdbcType="INTEGER" property="role" />
    </resultMap>


    <update id="upDateRecord">
        update studentrecord set record_time = #{recordTime} ,statues = #{statues} where student_id = #{studentId} and record_id = #{recordId}
    </update>


    <select id="selectAllByRoleUsers" resultType="com.rachel.service.domain.User">
        select *
        from t_user where role = #{role};
    </select>

    <select id="selectNameByRoleAndId" resultType="java.lang.String">
        select user_name
        from t_user where id=#{userid} and role = #{role} ;
    </select>


</mapper>
