<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--    扫描包-->
<mapper namespace="com.rachel.service.repository.AdminMapper">
    <resultMap id="SignTableMap" type="com.rachel.service.domain.SignTable">
        <id column="record_id" jdbcType="INTEGER" property="recordId" />
        <result column="course_id" jdbcType="INTEGER" property="courseId" />
        <result column="token" jdbcType="INTEGER" property="token" />
        <result column="teacher_id" jdbcType="INTEGER" property="teacherId" />
        <result column="publish_time" jdbcType="TIMESTAMP" property="publishTime" />
    </resultMap>

    <resultMap id="CourseMap" type="com.rachel.service.domain.Course">
        <result column="course_id" jdbcType="INTEGER" property="courseId" />
        <result column="course_name" jdbcType="VARCHAR" property="courseName" />
        <result column="teacher_id" jdbcType="INTEGER" property="teacherId" />
        <result column="teacher_name" jdbcType="VARCHAR" property="teacherName" />
        <result column="student_id" jdbcType="INTEGER" property="studentId" />
        <result column="student_role" jdbcType="INTEGER" property="studentRole" />
        <result column="student_name" jdbcType="VARCHAR" property="studentName" />
    </resultMap>

    <resultMap id="StudentRecordMap" type="com.rachel.service.domain.StudentRecord">
        <id column="record_id" jdbcType="INTEGER" property="recordId" />
        <result column="course_id" jdbcType="INTEGER" property="courseId"/>
        <result column="student_id" jdbcType="INTEGER" property="studentId"/>
        <result column="student_name" jdbcType="VARCHAR" property="studentName" />
        <result column="record_time" jdbcType="TIMESTAMP" property="recordTime" />
        <result column="statues" jdbcType="VARCHAR" property="statues" />
        <result column="role" jdbcType="INTEGER" property="role" />
    </resultMap>

    <insert id="insertTable" parameterType="com.rachel.service.domain.SignTable">
        INSERT INTO signtable ( record_id,course_id,token, teacher_id,publish_time,effective)
        VALUES ( #{recordId}, #{courseId},#{token},#{teacherId},#{publishTime},#{effective})
    </insert>




<!--    <select id="selectAllByStatuesStrings" resultType="java.lang.String">-->
<!--        select user_name-->
<!--        from studentrecord where statues = #{statues};-->
<!--    </select>-->

<!--    <select id="getAllData" resultType="com.rachel.service.domain.StudentRecord">-->
<!--        select *-->
<!--        from studentrecord;-->
<!--    </select>-->

    <select id="findRecordId" resultType="java.lang.Integer">
        select record_id
        from signtable order by publish_time desc limit 1;
    </select>

    <select id="findBycourseId" resultMap="CourseMap">
        select *
        from course where course_id = #{courseId};
    </select>

    <select id="findCourseId" resultType="java.lang.Integer">
        select course_id
        from signtable order by publish_time desc limit 1;
    </select>

    <select id="findTokenByRecordId" resultType="java.lang.Integer">
        select token from signtable where record_id = #{recordId};
    </select>

    <select id="getAllRecord" resultMap="StudentRecordMap">
        select student_name,statues,record_time
        from studentrecord where record_id = #{recordId};
    </select>
    <select id="findStatues" resultType="java.lang.String">
        select effective from signtable where record_id = #{recordId};
    </select>

    <insert id="insertRecord" parameterType="com.rachel.service.domain.StudentRecord">
        insert  into studentrecord(record_id,course_id,student_id,student_name,record_time,statues,role)
        values (#{recordId},#{courseId},#{studentId},#{studentName},#{recordTime},#{statues},#{role})
    </insert>

    <update id="changeEffective">
        update signtable set effective = #{effective} where record_id  =#{recordId}
    </update>
</mapper>

        <!--        useGeneratedKeys="true" keyProperty="id">-->
        <!--        insert into t_user-->
        <!--        (user_uuid,user_name,password,real_name,age,last_active_time)-->
        <!--        values-->
        <!--<foreach collection="list" item="item" index="index"-->
        <!--         separator=",">-->
        <!--(#{item.userUuid},#{item.userName},#{item.password},#{item.realName},#{item.age},-->
        <!--#{item.lastActiveTime})-->
        <!--</foreach>-->